apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "bitwarden-password-manager-eso.fullname" . }}
  labels:
    {{- include "bitwarden-password-manager-eso.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "bitwarden-password-manager-eso.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "bitwarden-password-manager-eso.labels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "bitwarden-password-manager-eso.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: bitwarden-cli
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8087
              protocol: TCP
          envFrom:
            - secretRef:
                name: {{ include "bitwarden-password-manager-eso.fullname" . }}-credentials
          livenessProbe:
            tcpSocket:
              port: http
            initialDelaySeconds: 30
            periodSeconds: 30
            timeoutSeconds: 10
          readinessProbe:
            tcpSocket:
              port: http
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 5
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}