# .github/workflows/release.yml
name: Release

on:
  push:
    branches:
      - main
      - master

jobs:
  release:
    uses: user-cube/reusable-cicd/.github/workflows/semantic-release_simple-release.yml@main
    secrets:
      DEVOPS_BUDDY_APP_ID: ${{ secrets.DEVOPS_BUDDY_APP_ID }}
      DEVOPS_BUDDY_PRIVATE_KEY: ${{ secrets.DEVOPS_BUDDY_PRIVATE_KEY }}