name: Helm Release

on:
  push:
    branches:
      - main
      - master
    tags:
      - 'v*'

permissions:
  contents: write
  packages: write

concurrency:
  group: release-${{ github.repository }}
  cancel-in-progress: false

jobs:
  release:
    name: Semantic Release
    if: startsWith(github.ref, 'refs/heads/')
    uses: user-cube/reusable-cicd/.github/workflows/semantic-release_simple-release.yml@main
    with:
      node-version: "20"
      extra-plugins: |
        semantic-release-helm
        @semantic-release/exec
      pre-install: |
        version=v1.14.2
        curl -sSLo /tmp/helm-docs.tar.gz "https://github.com/norwoodj/helm-docs/releases/download/${version}/helm-docs_${version#v}_Linux_x86_64.tar.gz"
        tar -xzf /tmp/helm-docs.tar.gz -C /tmp helm-docs
        install -m 755 /tmp/helm-docs /usr/local/bin/helm-docs
    secrets:
      DEVOPS_BUDDY_APP_ID: ${{ secrets.DEVOPS_BUDDY_APP_ID }}
      DEVOPS_BUDDY_PRIVATE_KEY: ${{ secrets.DEVOPS_BUDDY_PRIVATE_KEY }}

  publish:
    name: Publish Helm Chart
    if: startsWith(github.ref, 'refs/tags/v')
    uses: user-cube/reusable-cicd/.github/workflows/helm-releaser.yml@main
    with:
      charts_dir: charts
      config: .github/configs/cr.yaml
      push_oci: true
    secrets:
      DEVOPS_BUDDY_APP_ID: ${{ secrets.DEVOPS_BUDDY_APP_ID }}
      DEVOPS_BUDDY_PRIVATE_KEY: ${{ secrets.DEVOPS_BUDDY_PRIVATE_KEY }}