# .github/workflows/helm-publish.yml
name: Publish Helm

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write
  packages: write

concurrency:
  group: helm-release
  cancel-in-progress: false

jobs:
  publish:
    uses: user-cube/reusable-cicd/.github/workflows/helm-releaser.yml@main
    with:
      charts_dir: charts
      config: .github/configs/cr.yaml
      push_oci: true
    secrets:
      DEVOPS_BUDDY_APP_ID: ${{ secrets.DEVOPS_BUDDY_APP_ID }}
      DEVOPS_BUDDY_PRIVATE_KEY: ${{ secrets.DEVOPS_BUDDY_PRIVATE_KEY }}