name: Helm Lint
on:
  pull_request:
    branches:
      - main
      - master

jobs:
  lint:
    name: Lint charts
    uses: AutomationDojo/reusable-cicd/.github/workflows/helm-lint.yml@main
    with:
      charts_dir: "."
