name: Helm Docs
on:
  pull_request:
    branches:
      - main
      - master

permissions:
  contents: write
  pull-requests: write

jobs:
  docs:
    name: Update chart docs
    uses: AutomationDojo/reusable-cicd/.github/workflows/helm-docs.yml@main
    with:
      chart_search_root: "charts/"
      values_file: "values.yaml"
      output_file: "README.md"
      git_push: true
      git_commit_message: "docs: update helm-docs"
    secrets:
      GITHUB_APP_ID: ${{ secrets.DEVOPS_BUDDY_APP_ID }}
      GITHUB_APP_PRIVATE_KEY: ${{ secrets.DEVOPS_BUDDY_PRIVATE_KEY }}
