name: Release
on:
  push:
    branches:
      - main
      - master

permissions:
  contents: write

jobs:
  release:
    uses: user-cube/reusable-cicd/.github/workflows/semantic-release_simple-release.yml@main
    with:
      node-version: "20"
      extra-plugins: |
        semantic-release-helm
    secrets:
      DEVOPS_BUDDY_APP_ID: ${{ secrets.DEVOPS_BUDDY_APP_ID }}
      DEVOPS_BUDDY_PRIVATE_KEY: ${{ secrets.DEVOPS_BUDDY_PRIVATE_KEY }}
